.container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    color: var(--text-color);
}

.container_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}

.container_item span {
    margin-top: 10px;
}

.container_item:hover, .container_item:focus, .container_item:active {
    opacity: 70%;
}