.container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15%;
}

.container ul li {
    cursor: pointer;
    list-style-type: none;
}

.container ul div {
    cursor: pointer;
}

.container ul div li {
    display: flex;
    justify-content: center;
}

.container ul div:hover, .container ul div:focus, .container ul div:active {
    opacity: 70%;
}