.container {
    height: 90vh;
    font-family: Poppins, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container_text {
    margin: 15px;
}

.container_btn {
    font: inherit;
    background-color: var(--primary-color);
    width: 300px;
    height: 45px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    margin: 15px auto 20px auto;
    cursor: pointer;
    border: 0;
}

.container_highlight {
    color: var(--primary-color);
    font-weight: bold;
}

/* Styles for desktop or large screen devices */
@media screen and (min-width: 760px) {
    body {
        font-size: 1.1rem !important;
    }
}