/* Importing fonts */
@font-face {
    font-family: Poppins;
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

/* Variables */
:root {
    --bg-color: #121212;
    --primary-color: #FF6B00;
    --text-color: #E0E0E0;
    ---accent-color: #FFF;
}

body {
    font-family: Poppins, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}