body {
    height: 100vh;
    font-family: Poppins, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

p {
    margin: 20px;
}

button {
    font: inherit;
    background-color: var(--primary-color);
    width: 70%;
    height: 50px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    margin: 0 20px;
    cursor: pointer;
    border: 0;
}

.text-highlight {
    color: var(--primary-color);
    font-weight: bold;
}